@{
	ViewData["Title"] = "Appuntamento";
}
<h1>@ViewData["Title"]</h1>

<div style="display: flex;">
	<h1>Prendi un appuntamento subito!</h1>
	<h2>cegli il tuo parrucchiere</h2><br>
	<table border="9">
		<thead>
			@foreach (var paruchiera in Model.parrucchiera)
			{

				<tr>
					<td>@paruchiera.nome_parrucchiera</td>
					<td>@paruchiera.cognome_parrucchiera</td>
					<td>@paruchiera.email.parrucchiera</td>
					<td>@paruchiera.ntel.parrucchiera</td>
				</tr>
			}


	</table>
</div>


</div>
