@{
	@model parrucchiera.viewmodels.parrucchieriViewModels;
	ViewData["Title"] = "Appuntamento";
}
<h1>@ViewData["Title"]</h1>

<div style="display: flex;">
	<h1>Prendi un appuntamento subito!</h1>
	<h2>scegli il tuo parrucchiere</h2><br>
	<table border="1">
		<thead>
			@foreach (var paruchiera in Model.parrucchieri)
			{

				<tr>
					<td>@paruchiera.nome</td>
					<td>@paruchiera.cognome</td>
					<td>@paruchiera.email</td>
					<td>@paruchiera.telefono</td>
				</tr>
			}


	</table>
</div>


</div>
