@{
    @model parrucchiera.viewmodels.PrenotazioneViewModels;
    ViewData["Title"] = "prenotazione";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h1>Prendi una prenotazione subito!</h1>
    <h2>Scegli il tuo orario</h2>

    <p>
        Stai prenotando con: @Model.parrucchiere.cognome
    </p>
    <div>
        @using (Html.BeginForm("prenotazioni", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.parrucchiere.id)

            <table class="table">
                <tr>
                    <th>
                        @Html.LabelFor(model => model.prenotazione.appuntamento_Data_tempo)
                        @Html.EditorFor(model => model.prenotazione.appuntamento_Data_tempo, "Date")
                    </th>
                </tr>
            </table>

            @Html.DropDownListFor(m => m.SelectedClienteId, new SelectList(Model.lista_clienti, "id", "cognome"), new { id = "clienteSelect" })

            <p>
                <input id="appuntamento" type="submit" value="Prenota!" disabled />
            </p>
        }

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                var dateInput = $('input[name="prenotazione.appuntamento_Data_tempo"]');
                var selectMenu = $('#clienteSelect');
                var submitButton = $('#appuntamento');

                function checkInputs() {
                    if (dateInput.val() && selectMenu.val()) {
                        submitButton.prop('disabled', false);
                    } else {
                        submitButton.prop('disabled', true);
                    }
                }

                dateInput.on('input', checkInputs);
                selectMenu.on('change', checkInputs);
            });
        </script>
    </div>
</div>
