@@{

    @model prenotazione.viewmodels.prenotazioneViewModels;
    ViewData["Title"] = "prenotazione";
}
<script type="text/javascript">
    function redirectToServizi() {
        window.location.href = "page(" / prenotazione.cshtml")";
    }
</script>
<h1>@ViewData["Title"]</h1>
<div>
    <h1>Prendi una prenotazione subito!</h1>
    <h2>Scegli il tuo orario</h2>
    <div>
        @using (Html.BeginForm("CreaAppuntamento", "Home", FormMethod.Post))
        {
            <table class="table">
                <tr>
                    <th>@Html.LabelFor(model => model.prenotazione.clienteID)</th>
                    <td>@Html.EditorFor(model => model.prenotazione.clienteID)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.prenotazione.appuntamento_Dataa_tempo)</th>
                    <td>@Html.EditorFor(model => model.prenotazione.appuntamento_Dataa_tempo)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.parrucchiere.email)</th>
                    <td>@Html.EditorFor(model => model.parrucchiere.email)</td>
                </tr>
              
            </table>
            <input id="appuntamento" type="submit" value="Save" />
        }


    </div>
