@{	
	@model parrucchiera.viewmodels.serviziViewModels;
	ViewData["Title"] = "Servizi";
}
<h1>@ViewData["Title"]</h1>
@* <link rel="stylesheet" type="text/css" href="site.css"> *@
<div>
	<h1>QUESTI SONO I NOSTRI SERVIZI! WOW!</h1>

	<h2>Proponiamo differenti servizi, per occuparci della tua bellezza nella maniera più olistica possibile.</h2>
	


	<h2>Scegli il tuo parrucchiere:</h2>

	<table border="9">
		<thead>
			<tr>
				<th>servizio</th>
				<th>descrizione</th>
				<th>prezzo</th>
			</tr>
		</thead>

		<tr>
			<td>acconciatura</td>
			<td>sabaku</td>
			<td>50€</td>
		</tr>
		<tr>
			<td>acconciatura</td>
			<td>maiku</td>
			<td>10€</td>

		</tr>
		<td>Taglio corto</td>
		<td>Taglio di capelli corto alla moda</td>
		<td>30€</td>
		<tr>
			<td>Colore Balayage</td>
			<td>Balayage per un look naturale e luminoso</td>
			<td>50€</td>
		</tr>
		<tr>
			<td>Trecce africane</td>
			<td>Acconciatura con trecce a cornrows</td>
			<td>60€</td>
			</tr>
		<tr>
			<td>Extension capelli lisci</td>
			<td>Extension per capelli lisci con clip</td>
			<td>70€</td>
		</tr>
		<tr>
			<td>Taglio lungo scalato</td>
			<td>Taglio lungo con scalatura per un look dinamico</td>
			<td>45€</td>
		</tr>
		<tr>
			<td>Mèches</td>
			<td>Colore mèches per illuminare il viso</td>
			<td>55€</td>
		</tr>
@* 


		<tr>
			<td>acconciatura</td>
			<td>acconciatura</td>
			<td>Taglio corto</td>
			<td>Colore Balayage</td>
			<td>Trecce africane</td>
			
	</table>
</div>
	<table border="9">
		<thead>
			<tr>
				<th>servizio</th>
				<th>descrizione</th>
				<th>prezzo</th>
			</tr>
		</thead>

		@foreach (var servizio in Model.servizi)
		{
			@* <h2>@servizio.id</h2>

			<h2>@servizio.prezzo</h2>
 *@
			<tr>
				<td>@servizio.nome_servizio</td>
				<td>@servizio.descrizione_servizio</td>
				<td>@servizio.prezzo</td>
			</tr>
		}
			
	</table>
</div>
	